body {
  background-color: #333333;
}
#container {
  margin: 0 auto;
  margin-top: 20px;
  width: 328px;
  border-radius: 30px;
  background-color: #636161;
  padding: 30px;
  float: left;
}
#textPool {
  margin: 0 auto;
  width: 311px;
  height: 61px;
  margin: 20px 8.5px 20px 8.5px;
  border-radius: 20px;
  border: 0px;
  padding: 15px;
}
.buttons {
  background-color: #222222;
  width: 62px;

  display: inline-block;
  margin: 0 auto;
  margin: 20px 10px 20px 10px;
  border-radius: 6px;
  text-align: center;
  color: lightgray;
  font-size: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.buttons:hover {
  transform: scale(1.2, 1.2);
}
